<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>2014-10-09[FirstServlet]</display-name>
	<servlet>
		<description>
		</description>
		<display-name>SF</display-name>
		<servlet-name>SF</servlet-name>
		<servlet-class>firstservlet.ServletFirst</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Headers</display-name>
		<servlet-name>Headers</servlet-name>
		<servlet-class>ma.cookies.Headers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Header</display-name>
		<servlet-name>Header</servlet-name>
		<servlet-class>ma.cookies.Headers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SF</servlet-name>
		<url-pattern>/fservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Headers</servlet-name>
		<url-pattern>/Headers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Header</servlet-name>
		<url-pattern>/Header</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
